email fails to send with Got: 550 5.6.0 Lone CR or LF in headers (see RFC2822 section 2.2) error

I'm using sparkpost.com to act as an smtp relay.
It completes the handshake then fails with
Got: 550 5.6.0 Lone CR or LF in headers (see RFC2822 section 2.2)

I've done some googling around but didn't find anything specific to dokuwiki. I have every field properly filled out in the configuration.


I'm seeing the same thing with both this plugin and the older SwiftMailer plugin.

Did someone got around this?

What mailserver are you guys using? 

Hi,

We are using Office 365 as mailserver and the server recently started generating NDRs because of BareLF errors.

I quickly fixed this using the following line of code in the plugin's action.php file (Fixe bare LF). 

This is copied from a phpBB forum entry which you can find here: [https://www.phpbb.com/community/viewtopic.php?f=46&t=1489875&p=8876785](url)

Here's the short snippet.
```php
        // prepare the message
        /** @var Mailer $mailer Our Mailer with all the data */
        $mailer = $event->data['mail'];
        $body = $mailer->dump();  // this also prepares all internal variables of the mailer
	$body = preg_replace("#(?<!\r)\n#si", "\r\n", $body); // Fix bare LF
        $rcpt   = $event->data['to'] . ',' .
                  $event->data['cc'] . ',' .
```



Hello,

I was receiving a 451 "See http://pobox.com/~djb/docs/smtplf.html." error when trying to send a test E-Mail after configuring the plugin.
Using the same code snippet @dan-el posted I was able to successfully send the E-Mail.

While this issue still exists in dokuwiki it would be useful to integrate the fix in post by @dan-el 